<div class="content-topo d-block text-center mb-5">
  <div class="p-5">
    <h1 class="title-blog">Blog feito em rails! 💻</h1>
    <p class="subtitle-blog">Desenvolvedor web e apaixonado por tecnologia. Link do repositório do blog abaixo! 🚀</p>
    <a href="https://github.com/rafaelsrabelo/blog" target="_blank" class="btn btn-lg btn-register mt-2">
    <img src="/github.jpg" class="me-2"alt="">github.com/rafaelsrabelo/blog
    </a>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <%= render post %> 
      <% end %>
    <% else %>
      <h1 class="my-5">Não há posts</h1>
    <% end %>
  </div>
</div>
  <%# <div class="text-end mt-5"> %>
    <%# <%= link_to 'Criar novo post', new_post_path, class:"btn btn-outline-primary" %>
  <%# </div> %>
</div>