<div class="container mb-5">
  <h2 class="text-muted mt-5">
    <% if @posts.any? %>
      <%= pluralize(@posts.count, 'encontrado') %>
    <% else %>
      Nenhum resultado encontrado
    <% end %>
  </h2>
  <div class="row">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
</div>
</div>